.Carta ,.back,  .front {
	width: 100px;
	height: 100px;
	font-size: 70px ;
	text-align: center;
	


}
.front{
	
	background-color: #337ab7;
	color: white;

}
.back{
	background-color: lightblue;
	color: white;
}
div{
	height: 50px;
	width:100px;
	 margin: auto;
    border: 2px solid  white;
	
	
	border-radius: :100%;
	display: inline-block;
}
.container {
    width: 500px;
    }

    